header {
  background-size: cover;
  background: url("~/assets/images/red_lips_hair_hands_eyes_face_lips_woman_beauty_2560x1600.jpg") top center no-repeat fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      color: #ff29d1;
      text-shadow: 2px 2px 3px black;
      font-family: Lato sans-serif;
      font-weight: bold;
    }

    .description {
      background: rgba(255, 41, 209, 0.2);
      color: #fff;
      font-size: 24px;
      font-family: Lato sans-serif;
      text-align: center;
    }
  }
}

@media(max-width: 576px) {
  header {
    background: url("~/assets/images/header-700.jpg") top center no-repeat fixed;
    min-height: 420px;
    .header-content {
      padding: 20px;
      .logo {
        font-size: 48px;
      }

      .description {
        font-size: 20px;
        padding: 20px;
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    background: url("~/assets/images/header-2560.jpg") top center no-repeat fixed;
    min-height: 900px;

    .header-content {
      .logo {
        font-size: 76px;
      }

      .description {
        width: 70%;
        padding: 40px;
        margin-top: 40px;
      }
    }
  }
}

