header {
  background-size: cover;
  background: url("~/assets/images/red_lips_hair_hands_eyes_face_lips_woman_beauty_2560x1600.jpg") top center no-repeat fixed;
  min-height: 900px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      color: #ff29d1;
      font-size: 76px;
      font-family: Lato sans-serif;
      font-weight: bold;
    }

    .description {
      background: rgba(255, 41, 209, 0.2);
      color: #fff;
      font-size: 24px;
      font-family: Lato sans-serif;
      text-align: center;
      width: 70%;
      padding: 40px;
      margin-top: 40px;
    }
  }
}
