<article>
  <section class="content">
    <h3>О нас</h3>

    <section class="description">

      <h4>Вас приветствует самый модный Бьюти салон Ташкента!</h4>
      <hr>
      <p><strong>#Nargis</strong> живет в ритме с большим городом, ценит Ваше время и поэтому предлагает современным и
        всегда занятым посетительницам такие услуги как <strong>качественный и модный маникюрный сервис, укладки и
          окрашивание волос, мейкап и архитектура бровей, наращивание ресниц, лазерное удаление тату</strong>.</p>
      <p>Наша команда всегда в курсе последних тенденций в бьюти-индустрии, профессиональные мастера работают только
        на высококачественных материалах и всегда готовы поделиться с Вами своей креативной энергией!</p>

      <h4>Чем мы отличаемся от других?</h4>
      <hr>
      <p>Мы привезли в Ташкент частичку Москвы: стильный, современный и комфортный интерьер, качественную косметику и
        материалы. Мы совместили с крайне демократичными ценами, чтобы каждая могла почувствовать себя селебрити за
        доступные деньги!</p>

      <p><strong>#Nargis</strong> - место, где модно появиться!</p>

      <hr>

      <h2>Ждем в гости!</h2>
      <p><em>P.S. Крутой кофе и лучшее освещение для селфи гарантированны!</em></p>
      <p><em>Ваши</em></p>
      <p><em><strong>#NARGIS</strong> / Создатели Мгновенной Красоты</em></p>

    </section>
  </section>
</article>
