<article>
  <section class="content">

    <h3>Портфолио</h3>

    <section class="description-wrapper">

      <section class="description" *ngFor="let item of items"
               itemscope itemtype="http://schema.org/Thing">
        <img class="img-thumbnail"
             [src]="'/assets/images/' + item.image"
             [alt]="item.title" itemprop="image">
        <h4 class="description-header" itemprop="name">{{ item.title }}</h4>
      </section>

    </section>

  </section>
</article>
