<article>
  <section class="content">

    <h3>Портфолио</h3>

    <section class="description-wrapper">

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Наращивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/portfolio-8.jpg" alt="Nail">
        <h4 class="description-header">Наращивание волосы холодное микро, средние, большое капсулы</h4>
      </section>

      <section class="description">
        <img src="/assets/images/portfolio-1.jpg" alt="Lips">
        <h4 class="description-header">Увеличение губ гелем</h4>
      </section>

      <section class="description">
        <img src="/assets/images/portfolio-3.jpg" alt="Nail">
        <h4 class="description-header">Лазерное удаление тата и татуаж</h4>
      </section>

      <section class="description">
        <img src="/assets/images/portfolio-7.jpg" alt="Nail">
        <h4 class="description-header">Лазерное удаление татуировок</h4>
      </section>

      <section class="description">
        <img src="/assets/images/portfolio-4.jpg" alt="Nail">
        <h4 class="description-header">Наращивание ресницы 2D/3D</h4>
      </section>

      <section class="description">
        <img src="/assets/images/portfolio-5.jpg" alt="Nail">
        <h4 class="description-header">Растушевка и татуаж</h4>
      </section>

      <section class="description">
        <img src="/assets/images/portfolio-6.jpg" alt="Nail">
        <h4 class="description-header">Растушевка и татуаж</h4>
      </section>

    </section>

  </section>
</article>
