<article>
  <section class="content">

    <h3>Портфолио</h3>

    <section class="description-wrapper">

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

      <section class="description">
        <img src="/assets/images/nail.jpg" alt="Nail">
        <h4 class="description-header">Нарашивание ногтей</h4>
      </section>

    </section>

  </section>
</article>
