article {
  background-color: #7b3eff;
  background-size: cover;
  background: url("~/assets/images/services-full.jpg") no-repeat center center fixed;
  min-height: 700px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 1;

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h3 {
      color: #fff;
      font-size: 48px;
      font-family: Lato sans-serif;
      font-weight: bold;
    }

    .description-wrapper {
      display: flex;
      align-self: stretch;
      justify-content: center;
      flex-wrap: wrap;
      .description {
        box-sizing: border-box;
        margin: 20px;
        background: rgba(255, 0, 241, 0.2);
        font-size: 24px;
        font-family: Lato sans-serif;
        width: 28%;
        display: flex;
        .img {
          background: rgba(255, 255, 255, 0.5);
          padding: 20px;
          img {
            width: 130px;
            height: 130px;
          }
        }
        .body {
          color: #fff;
          padding: 0 20px;
          h4 {
            color: #ff93b7;
            margin: 20px 0;
          }
        }
      }
    }

  }
}

@media (max-width: 1200px) {
  article {
    background: url("~/assets/images/bg8-700.jpg") repeat-y 0%/130% fixed;
    min-height: 200px;

    .content {
      h3 {
        font-size: 40px;
        text-shadow: 2px 2px 3px black;
      }

      .description-wrapper {
        margin-bottom: 40px;
        .description {
          background: rgba(255, 255, 255, 0.8);
          margin: 10px;
          font-size: 18px;
          width: 47%;
          .img {
            background: rgba(255, 0, 219, 0.08);
            padding: 10px;
            img {
              width: 90px;
              height: 90px;
            }
          }
          .body {
            padding: 0 10px;
            color: #000;
            h4 {
              color: #000;
              margin: 10px 0;
            }
          }
        }
      }

    }
  }
}

@media (max-width: 576px) {
  article {
    background: url("~/assets/images/bg8-700.jpg") repeat-y 0%/130% fixed;
    min-height: 200px;

    .content {
      width: 100%;
      h3 {
        font-size: 32px;
        text-shadow: 2px 2px 3px black;
      }
      .description-wrapper {
        margin-bottom: 40px;
        .description {
          background: rgba(255, 255, 255, 0.8);
          margin: 5px;
          font-size: 12px;
          width: 90%;
          display: flex;
          .img {
            background: rgba(255, 0, 219, 0.08);
            padding: 10px;
            img {
              width: 60px;
              height: 60px;
            }
          }
          .body {
            padding: 0 10px;
            color: #000;
            h4 {
              color: #000;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }

}
