<article>
  <section class="content">

    <h3>Услуги</h3>

    <section class="description-wrapper">

      <section class="description" *ngFor="let item of items"
               itemscope itemtype="http://schema.org/Service">
        <div class="img">
          <img itemprop="logo" [src]="'/assets/images/' + item.image" [alt]="item.title">
        </div>
        <div class="body">
          <h4 itemprop="name">{{ item.title }}</h4>
          <p itemprop="descrition">{{ item.description }}</p>
        </div>
      </section>

    </section>

  </section>
</article>
