<article *ngIf="items.length > 0">
  <section class="content">

    <h3>Посты Instagram</h3>

    <section class="description-wrapper">

      <section class="description" *ngFor="let item of items"
               itemscope itemtype="http://schema.org/Thing">
        <a [href]="item.href" target="_blank">
          <img class="img-thumbnail"
               [src]="item.thumbnail_src"
               [alt]="item.title" itemprop="image">
          <h4 class="description-header" itemprop="name">{{ item.title }}</h4>
        </a>
      </section>

    </section>

  </section>
</article>
